<template>
  <div class="app-container">
    <div class="filter-container">
      <el-form :inline="true">
        <el-form-item>
          <el-button
            type="success"
            size="mini"
            icon="el-icon-refresh"
            v-if="possuiPermissao('grupo:list')"
            @click.native.prevent="getGrupoList"
          >Atualizar</el-button>
          <el-button
            type="primary"
            size="mini"
            icon="el-icon-plus"
            v-if="possuiPermissao('grupo:add')"
            @click.native.prevent="showAddGrupoDialog"
          >Adicionar</el-button>
        </el-form-item>
      </el-form>
    </div>
    <el-table
      :data="grupoList"
      v-loading.body="listLoading"
      element-loading-text="loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column label="#" align="center" width="80">
        <template slot-scope="scope">
          <span v-text="getTableIndex(scope.$index)"></span>
        </template>
      </el-table-column>
      <el-table-column label="Nome" align="center" prop="nome" />
      <el-table-column label="Data de Cadastro" align="center" prop="dataCadastro">
        <template slot-scope="scope">{{ unix2CurrentTime(scope.row.dataCadastro) }}</template>
      </el-table-column>
      <el-table-column label="Data de Alteração" align="center" prop="dataAtualizacao">
        <template slot-scope="scope">{{ unix2CurrentTime(scope.row.dataAtualizacao) }}</template>
      </el-table-column>
      <el-table-column
        label="Operação"
        align="center"
        v-if="possuiPermissao('grupo:detail') || possuiPermissao('grupo:update') || possuiPermissao('grupo:delete')"
      >
        <template slot-scope="scope">
          <el-button
            type="info"
            size="mini"
            v-if="possuiPermissao('grupo:detail')"
            @click.native.prevent="showGrupoDialog(scope.$index)"
          >Vizualizar</el-button>
          <el-button
            type="warning"
            size="mini"
            v-if="possuiPermissao('grupo:update') && scope.row.nome !== 'superadministrador'"
            @click.native.prevent="showUpdateGrupoDialog(scope.$index)"
          >Alterar</el-button>
          <el-button
            type="danger"
            size="mini"
            v-if="possuiPermissao('grupo:delete') && scope.row.nome !== 'superadministrador'"
            @click.native.prevent="removeGrupo(scope.$index)"
          >Excluir</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="listQuery.page"
      :page-size="listQuery.size"
      :total="total"
      :page-sizes="[9, 18, 36, 72]"
      layout="total, sizes, prev, pager, next, jumper"
    ></el-pagination>

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form
        status-icon
        class="small-space"
        label-position="left"
        label-width="100px"
        style="width: 500px; margin-left:50px;"
        :model="tempGrupo"
        :rules="createRules"
        ref="tempGrupo"
      >
        <el-form-item label="Nome" prop="nome" required>
          <el-input
            :disabled="dialogStatus === 'show'"
            type="text"
            prefix-icon="el-icon-edit"
            auto-complete="off"
            v-model="tempGrupo.nome"
          ></el-input>
        </el-form-item>
        <el-form-item label="Permissão" required>
          <div v-for="(permissao, index) in permissaoList" :key="index">
            <el-button
              :disabled="dialogStatus === 'show'"
              size="mini"
              :type="isMenuNone(index) ? '' : (isMenuAll(index) ? 'success' : 'primary')"
              @click.native.prevent="checkAll(index)"
            >{{ permissao.controller }}</el-button>
            <!-- https://element.eleme.cn/#/zh-CN/component/checkbox#indeterminate-zhuang-tai -->
            <el-checkbox-group v-model="tempGrupo.listaDePermissao">
              <el-checkbox
                :disabled="dialogStatus === 'show'"
                v-for="item in permissao.descricaoList"
                :key="item.idPermissao"
                :label="item.idPermissao"
                @change="handleChecked(item, _index)"
              >
                <span>{{ item.descricao }}</span>
              </el-checkbox>
            </el-checkbox-group>
          </div>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click.native.prevent="dialogFormVisible = false">Cancelar</el-button>
        <el-button
          v-if="dialogStatus === 'add'"
          type="success"
          :loading="btnLoading"
          @click.native.prevent="addGrupo"
        >Adicionar</el-button>
        <el-button
          v-if="dialogStatus === 'update'"
          type="primary"
          :loading="btnLoading"
          @click.native.prevent="updateGrupo"
        >Salvar</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  listGrupoComPermissao,
  listControllerPermissao,
  add as addGrupo,
  update as updateGrupo,
  remove
} from '@/api/grupo'
import { unix2CurrentTime } from '@/utils'
import { mapGetters } from 'vuex'

export default {
  created() {
    if (this.possuiPermissao('grupo:update')) {
      this.getPermissaoList()
    }
    if (this.possuiPermissao('grupo:list')) {
      this.getGrupoList()
    }
  },
  data() {
    /**
     * Vizualizar nome da função
     * @param rule regra
     * @param value Nome
     * @param callback ligue de volta
     */
    const validateGrupoNome = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('O nome da função não pode ficar vazio'))
      } else {
        callback()
      }
    }
    return {
      grupoList: [],
      permissaoList: [],
      listLoading: false,
      total: 0,
      listQuery: {
        page: 1,
        size: 9
      },
      dialogStatus: 'add',
      dialogFormVisible: false,
      textMap: {
        update: 'Alterar',
        add: 'Adicionar'
      },
      btnLoading: false,
      tempGrupo: {
        idGrupo: '',
        nome: '',
        listaDePermissao: []
      },
      createRules: {
        nome: [{ required: true, trigger: 'blur', validator: validateGrupoNome }]
      }
    }
  },
  computed: {
    ...mapGetters(['grupoNome'])
  },
  methods: {
    unix2CurrentTime,
    /**
     * Obtenha todas as permissões do grupo
     */
    getPermissaoList() {
      listControllerPermissao().then(response => {
        this.permissaoList = response.data.list
      }).catch(res => {
        this.$message.error('Falha ao carregar a lista de permissões')
      })
    },
    /**
     * Obter uma lista de funções
     */
    getGrupoList() {
      this.listLoading = true
      listGrupoComPermissao(this.listQuery).then(response => {
        this.grupoList = response.data.list
        this.total = response.data.total
        this.listLoading = false
      }).catch(res => {
        this.$message.error('Falha ao carregar a lista de caracteres')
      })
    },
    /**
     * alterar o número de páginas
     * @param size tamanho da página
     */
    handleSizeChange(size) {
      this.listQuery.page = 1
      this.listQuery.size = size
      this.getGrupoList()
    },
    /**
     * alterar o número da página
     * @param page número de página
     */
    handleCurrentChange(page) {
      this.listQuery.page = page
      this.getGrupoList()
    },
    /**
     * Número de série do formulário
     * @param index subscrito de dados
     * @returns Número de série do formulário
     */
    getTableIndex(index) {
      return (this.listQuery.page - 1) * this.listQuery.size + index + 1
    },
    /**
     * Exibir a caixa de diálogo Adicionar função
     */
    showAddGrupoDialog() {
      this.dialogFormVisible = true
      this.dialogStatus = 'add'
      this.tempGrupo.nome = ''
      this.tempGrupo.idGrupo = ''
      this.tempGrupo.listaDePermissao = []
    },
    /**
     * Mostrar caixa de diálogo para atualizar funções
     * @param index papel subscrito
     */
    showUpdateGrupoDialog(index) {
      this.dialogFormVisible = true
      this.dialogStatus = 'update'
      const grupo = this.grupoList[index]
      this.tempGrupo.nome = grupo.nome
      this.tempGrupo.idGrupo = grupo.idGrupo
      this.tempGrupo.listaDePermissao = []
      for (let i = 0; i < grupo.listaController.length; i++) {
        const descricaoList = grupo.listaController[i].descricaoList
        for (let j = 0; j < descricaoList.length; j++) {
          const descricao = descricaoList[j]
          this.tempGrupo.listaDePermissao.push(descricao.idPermissao)
        }
      }
    },
    /**
     * Caixa de diálogo mostrando permissões de função
     * @param index papel subscrito
     */
    showGrupoDialog(index) {
      this.dialogFormVisible = true
      this.dialogStatus = 'show'
      const grupo = this.grupoList[index]
      this.tempGrupo.nome = grupo.nome
      this.tempGrupo.idGrupo = grupo.idGrupo
      this.tempGrupo.listaDePermissao = []
      let listaController = []
      if (grupo.nome === 'superadministrador') {
        listaController = this.permissaoList
      } else {
        listaController = grupo.listaController
      }
      for (let i = 0; i < listaController.length; i++) {
        const descricaoList = listaController[i].descricaoList
        for (let j = 0; j < descricaoList.length; j++) {
          const descricao = descricaoList[j]
          this.tempGrupo.listaDePermissao.push(descricao.idPermissao)
        }
      }
    },
    /**
     * Adicionar novo Grupo
     */
    addGrupo() {
      this.$refs.tempGrupo.validate(valid => {
        if (
          valid &&
          this.isGrupoNomeUnique(this.tempGrupo.idGrupo, this.tempGrupo.nome)
        ) {
          this.btnLoading = true
          addGrupo(this.tempGrupo).then(() => {
            this.$message.success('Adicionado com sucesso')
            this.getGrupoList()
            this.dialogFormVisible = false
            this.btnLoading = false
          }).catch(res => {
            this.$message.error('Falha ao adicionar função')
          })
        } else {
          console.log('o formulário é inválido')
        }
      })
    },
    /**
     * Alterar
     */
    updateGrupo() {
      this.$refs.tempGrupo.validate(valid => {
        if (
          valid &&
          this.isGrupoNomeUnique(this.tempGrupo.idGrupo, this.tempGrupo.nome)
        ) {
          this.btnLoading = true
          updateGrupo(this.tempGrupo).then(() => {
            this.$message.success('Atualização completa')
            this.getGrupoList()
            this.dialogFormVisible = false
            this.btnLoading = false
          }).catch(res => {
            this.$message.error('Falha ao atualizar a função')
          })
        } else {
          console.log('o formulário é inválido')
        }
      })
    },
    /**
     * Verifique se o nome da função já existe
     * @param idGrupo ID do grupo
     * @param nome Nome
     * @returns {boolean}
     */
    isGrupoNomeUnique(idGrupo, nome) {
      for (let i = 0; i < this.grupoList.length; i++) {
        if (this.grupoList[i].idGrupo !== idGrupo && this.grupoList[i].nome === nome) {
          this.$message.error('o Nome já existe')
          return false
        }
      }
      return true
    },
    /**
     * remover função
     * @param index papel subscrito
     * @returns {boolean}
     */
    removeGrupo(index) {
      this.$confirm('excluir esta função?', 'avisar', {
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não',
        type: 'warning'
      }).then(() => {
        const idGrupo = this.grupoList[index].idGrupo
        remove(idGrupo).then(() => {
          this.$message.success('Excluído com sucesso')
          this.getGrupoList()
        }).catch(() => {
          this.$message.error('Falha ao excluir')
        })
      }).catch(() => {
        this.$message.info('Recuperado')
      })
    },
    /**
     * Determinar se nenhuma das permissões no menu de função está selecionada
     * @param index subscrito
     * @returns {boolean}
     */
    isMenuNone(index) {
      const descricaoList = this.permissaoList[index].descricaoList
      for (let i = 0; i < descricaoList.length; i++) {
        if (this.tempGrupo.listaDePermissao.indexOf(descricaoList[i].idPermissao) > -1) {
          return false
        }
      }
      return true
    },
    /**
     * Determinar se as permissões no menu de funções estão todas selecionadas
     * @param index subscrito
     * @returns {boolean}
     */
    isMenuAll(index) {
      const descricaoList = this.permissaoList[index].descricaoList
      for (let i = 0; i < descricaoList.length; i++) {
        if (this.tempGrupo.listaDePermissao.indexOf(descricaoList[i].idPermissao) < 0) {
          return false
        }
      }
      return true
    },
    /**
     * Marque todas as caixas de seleção de acordo com o status do menu
     * @param index subscrito
     */
    checkAll(index) {
      if (this.isMenuAll(index)) {
        // Se já estiver selecionado, cancele todos
        this.cancelAll(index)
      } else {
        // Selecione tudo se ainda não estiver selecionado
        this.selectAll(index)
      }
    },
    /**
     * Marque todas as caixas de seleção
     * @param index subscrito
     */
    selectAll(index) {
      const descricaoList = this.permissaoList[index].descricaoList
      for (let i = 0; i < descricaoList.length; i++) {
        this.addUnique(descricaoList[i].idPermissao, this.tempGrupo.listaDePermissao)
      }
    },
    /**
     * Desmarque todas as caixas de seleção
     * @param index subscrito
     */
    cancelAll(index) {
      const descricaoList = this.permissaoList[index].descricaoList
      for (let i = 0; i < descricaoList.length; i++) {
        const idIndex = this.tempGrupo.listaDePermissao.indexOf(descricaoList[i].idPermissao)
        if (idIndex > -1) {
          this.tempGrupo.listaDePermissao.splice(idIndex, 1)
        }
      }
    },
    /**
     * Este método será acionado após o estado de verificação mudar
     * @param item Opções
     * @param index subscrito correspondente
     */
    handleChecked(item, index) {
      if (this.tempGrupo.listaDePermissao.indexOf(item.id) > -1) {
        // evento selecionado
        // Se esta permissão não foi verificada antes, depois de verificar agora, tempGrupo conterá este id
        // Em seguida, verifique as permissões necessárias
        this.makePermissaoChecked(index)
      } else {
        // desmarque evento
        this.cancelAll(index)
      }
    },
    /**
     * Verifique as permissões necessárias no menu de funções (não há campo de banco de dados obrigatório aqui)
     * @param index As permissões correspondem a subscritos
     */
    makePermissaoChecked(index) {
      const descricaoList = this.permissaoList[index].descricaoList
      for (let i = 0; i < descricaoList.length; i++) {
        this.addUnique(descricaoList[i].idPermissao, this.tempGrupo.listaDePermissao)
      }
    },
    /**
     * Adição antiduplicada de elementos em uma matriz
     * @param val valor
     * @param arr variedade
     */
    addUnique(val, arr) {
      const _index = arr.indexOf(val)
      if (_index < 0) {
        arr.push(val)
      }
    }
  }
}
</script>
