<template>
  <div class="app-container">
    <el-form
      v-loading.body="loading"
      :model="tmpUsuario"
      :rules="updateDetailRules"
      ref="tmpUsuario"
      label-width="115px"
    >
      <el-row :gutter="18">
        <el-col :span="9">
          <el-form-item label="Nome de Usuario" prop="usernme">
            <el-input v-if="toUpdate" v-model="tmpUsuario.username" />
            <span v-else>{{ tmpUsuario.username }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="Email" prop="email">
            <el-input v-if="toUpdate" v-model="tmpUsuario.email" />
            <span v-else>{{ tmpUsuario.email }}</span>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="18">
        <el-col :span="9">
          <el-form-item label="Data de Cadastro"><span>{{ unix2CurrentTime(usuario.dataCadastro) }}</span></el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item label="Ultimo Acesso"><span>{{ unix2CurrentTime(usuario.ultimoAcesso) }}</span></el-form-item>
        </el-col>
      </el-row>
      <el-form-item>
        <el-row :gutter="18">
          <el-col :span="6">
            <el-button type="success" :loading="btnLoading" @click.native.prevent="regainUsuarioDetail">Atualizar</el-button>
          </el-col>

          <el-col :span="6" v-if="!toUpdate">
            <el-button type="primary" :loading="btnLoading" @click.native.prevent="toUpdate = !toUpdate">Atualizar Dados</el-button>
          </el-col>
          <el-col :span="6" v-else>
            <el-button type="primary" :loading="btnLoading" @click.native.prevent="updateDetail">Confirme as alterações</el-button>
            <el-button type="warning" @click.native.prevent="toUpdate = !toUpdate">Cancelar modificação</el-button>
          </el-col>
          
          <el-col :span="6">
            <el-button type="danger" @click.native.prevent="showUpdatePasswordDialog">Alterar Senha</el-button>
          </el-col>
        </el-row>
      </el-form-item>
    </el-form>

    <el-dialog title="Alterar Senha" :visible.sync="dialogFormVisible">
      <el-form
        status-icon
        class="small-space"
        label-position="left"
        label-width="115px"
        style="width: 400px; margin-left:50px;"
        :model="tmpPassword"
        :rules="updatePasswordRules"
        ref="tmpPassword"
      >
        <el-form-item label="Senha Antiga" prop="oldPassword" required>
          <el-input
            type="password"
            prefix-icon="el-icon-edit"
            auto-complete="off"
            placeholder="Por favor, digite a senha antiga"
            v-model="tmpPassword.oldPassword"
          />
        </el-form-item>
        <el-form-item label="Nova Senha" prop="newPassword" required>
          <el-input
            type="password"
            prefix-icon="el-icon-edit"
            auto-complete="off"
            placeholder="Por favor, digite uma nova senha"
            v-model="tmpPassword.newPassword"
          />
        </el-form-item>
        <el-form-item label="Nova Senha" prop="newPassword2" required>
          <el-input
            type="password"
            prefix-icon="el-icon-edit"
            auto-complete="off"
            placeholder="Por favor, digite a nova senha novamente"
            v-model="tmpPassword.newPassword2"
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click.native.prevent="dialogFormVisible = false">Cancelar</el-button>
        <el-button type="danger" @click.native.prevent="$refs['tmpPassword'].resetFields()">Redefinir</el-button>
        <el-button type="primary" :loading="btnLoading" @click.native.prevent="updatePassword">renovar</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import store from '@/store'
import { update as updateUsuario, validatePassword } from '@/api/usuario'
import { unix2CurrentTime } from '@/utils'
import { isValidateEmail } from '@/utils/validate'
import { setToken } from '@/utils/token'
import { mapState } from 'vuex'

export default {
  created() {
    this.setDetail()
  },
  data() {
    const validateOldPassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('O comprimento da senha deve ser 6 ou mais'))
      }
      // promise异步查询后端密码
      this.validateOldPassword(value).then(isValidate => {
        if (!isValidate) {
          callback(new Error('Senha antiga incorreta'))
        } else {
          callback()
        }
      })
    }
    const validateNewPassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('O comprimento da senha deve ser 6 ou mais'))
      } else if (this.isOldNewPasswordSame()) {
        callback(new Error('Senhas antigas e novas não podem ser iguais'))
      } else {
        callback()
      }
    }
    const validateNewPassword2 = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('O comprimento da senha deve ser 6 ou mais'))
      } else if (!this.isNewPasswordSame()) {
        callback(new Error('As duas senhas inseridas não correspondem'))
      } else {
        callback()
      }
    }
    const validateUsername = (rule, value, callback) => {
      if (value.length < 3) {
        callback(new Error('O comprimento do Nome de Usuario deve ser 3 ou mais'))
      } else {
        callback()
      }
    }
    const validateEmail = (rule, value, callback) => {
      if (!isValidateEmail(value)) {
        callback(new Error('Erro de formato de e-mail'))
      } else {
        callback()
      }
    }
    return {
      loading: false,
      btnLoading: false,
      dialogFormVisible: false,
      toUpdate: false,
      tmpPassword: {
        oldPassword: '',
        newPassword: '',
        newPassword2: ''
      },
      updatePasswordRules: {
        oldPassword: [
          { required: true, trigger: 'blur', validator: validateOldPassword }
        ],
        newPassword: [
          { required: true, trigger: 'blur', validator: validateNewPassword }
        ],
        newPassword2: [
          { required: true, trigger: 'blur', validator: validateNewPassword2 }
        ]
      },
      tmpUsuario: {
        idUsuario: '',
        username: '',
        email: ''
      },
      updateDetailRules: {
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        email: [{ required: true, trigger: 'blur', validator: validateEmail }]
      }
    }
  },
  computed: {
    ...mapState({
      usuario: state => state.usuario
    })
  },
  methods: {
    unix2CurrentTime,
    /**
     * Configurar perfil de usuário
     */
    setDetail() {
      this.tmpUsuario.username = this.usuario.username
      this.tmpUsuario.email = this.usuario.email
    },
    /**
     * Vizualizar senha antiga
     * @param oldPassword Senha Antiga
     */
    validateOldPassword(oldPassword) {
      const usuario = {
        idUsuario: this.usuario.idUsuario,
        password: oldPassword
      }
      return validatePassword(usuario).then(response => response.data)
    },
    /**
     * Se as senhas antigas e novas são as mesmas
     */
    isOldNewPasswordSame() {
      return this.tmpPassword.oldPassword === this.tmpPassword.newPassword
    },
    /**
     * As novas senhas 1 e 2 são iguais
     */
    isNewPasswordSame() {
      return this.tmpPassword.newPassword === this.tmpPassword.newPassword2
    },
    /**
     * redefinir token
     */
    resetToken(token) {
      setToken(token)
      this.usuario.token = token
    },
    /**
     * Recuperar informações do usuário
     */
    regainUsuarioDetail() {
      this.loading = true
      this.btnLoading = true
      store.dispatch('Detail').then(() => {
        this.loading = false
        this.btnLoading = false
      })
    },
    /**
     *  atualizar usuário
     * @param usuario do utilizador
     */
    updateUsuario(usuario) {
      this.btnLoading = true
      updateUsuario(usuario).then(response => {
        this.$message.success('atualização completa')
        this.resetToken(response.data)
        this.regainUsuarioDetail()
        this.btnLoading = false
      }).catch(res => {
        this.$message.error('atualização falhou')
      })
    },
    /**
     * Atualizar perfil de usuário
     */
    updateDetail() {
      this.$refs.tmpUsuario.validate(valid => {
        if (valid) {
          this.tmpUsuario.idUsuario = this.usuario.idUsuario
          this.updateUsuario(this.tmpUsuario)
        }
      })
    },
    /**
     * Exibir a caixa de diálogo de atualização de senha
     */
    showUpdatePasswordDialog() {
      this.dialogFormVisible = true
      this.tmpPassword.oldPassword = ''
      this.tmpPassword.newPassword = ''
      this.tmpPassword.newPassword2 = ''
    },
    /**
     * Atualizar senha
     */
    updatePassword() {
      this.$refs.tmpPassword.validate(valid => {
        if (valid) {
          const usuario = {}
          usuario.idUsuario = this.usuario.idUsuario
          usuario.password = this.tmpPassword.newPassword
          this.updateUsuario(usuario)
          this.dialogFormVisible = false
        }
      })
    }
  }
}
</script>
