<template>
  <div class="app-container">
    <div class="filter-container">
      <el-form :inline="true">
        <el-form-item>
          <el-button
            type="success"
            size="mini"
            icon="el-icon-refresh"
            v-if="possuiPermissao('usuario:list')"
            @click.native.prevent="getUsuarioList"
          >atualizar</el-button>
          <el-button
            type="primary"
            size="mini"
            icon="el-icon-plus"
            v-if="possuiPermissao('usuario:add')"
            @click.native.prevent="showAddUsuarioDialog"
          >Adicionar</el-button>
        </el-form-item>

        <span v-if="possuiPermissao('usuario:search')">
          <el-form-item>
            <el-input v-model="search.usuarioUsername" placeholder="Nome de Usuario"></el-input>
          </el-form-item>
          <el-form-item>
            <el-select v-model="search.grupoNome" placeholder="Grupo">
              <el-option label="por favor escolha" value />
              <div v-for="(grupo, index) in grupoList" :key="index">
                <el-option :label="grupo.nome" :value="grupo.nome"/>
              </div>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="searchBy" :loading="btnLoading">Buscar</el-button>
          </el-form-item>
        </span>
      </el-form>
    </div>
    <el-table
      :data="usuarioList"
      v-loading.body="listLoading"
      element-loading-text="loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column label="#" align="center" width="80">
        <template slot-scope="scope">
          <span v-text="getIndex(scope.$index)"></span>
        </template>
      </el-table-column>
      <el-table-column label="Nome de Usuario" align="center" prop="username" width="180" />
      <el-table-column label="Email" align="center" prop="email" width="200" />
      <el-table-column label="Data de Cadastro" align="center" prop="dataCadastro" width="160">
        <template slot-scope="scope">{{ unix2CurrentTime(scope.row.dataCadastro) }}</template>
      </el-table-column>
      <el-table-column label="Ultimo Acesso" align="center" prop="ultimoAcesso" width="160">
        <template slot-scope="scope">{{ scope.row.ultimoAcesso ? unix2CurrentTime(scope.row.ultimoAcesso) : 'nunca logado' }}</template>
      </el-table-column>
      <el-table-column label="Grupo" align="center" prop="grupoNome" width="120" />
      <el-table-column label="Operação" align="center"
        v-if="possuiPermissao('grupo:update') || possuiPermissao('usuario:update') || possuiPermissao('usuario:delete')">
        <template slot-scope="scope">
          <el-button
            type="warning"
            size="mini"
            v-if="possuiPermissao('grupo:update') && scope.row.idUsuario !== idUsuario"
            @click.native.prevent="showUpdateUsuarioDialog(scope.$index)"
          >Alterar</el-button>
          <el-button
            type="warning"
            size="mini"
            v-if="possuiPermissao('usuario:update') && scope.row.idUsuario !== idUsuario"
            @click.native.prevent="showUpdateUsuarioGrupoDialog(scope.$index)"
          >Atribuir Grupo</el-button>
          <el-button
            type="danger"
            size="mini"
            v-if="possuiPermissao('usuario:delete') && scope.row.idUsuario !== idUsuario"
            @click.native.prevent="removeUsuario(scope.$index)"
          >Excluir</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="listQuery.page"
      :page-size="listQuery.size"
      :total="total"
      :page-sizes="[9, 18, 36, 72]"
      layout="total, sizes, prev, pager, next, jumper"
    ></el-pagination>
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form
        status-icon
        class="small-space"
        label-position="left"
        label-width="75px"
        style="width: 300px; margin-left:50px;"
        :model="tmpUsuario"
        :rules="createRules"
        ref="tmpUsuario"
      >
        <el-form-item label="Nome de Usuario" prop="username" required>
          <el-input
            type="text"
            prefix-icon="el-icon-edit"
            auto-complete="off"
            :disabled="dialogStatus === 'updateGrupo'"
            v-model="tmpUsuario.username"
          />
        </el-form-item>
        <el-form-item label="Email" prop="email">
          <el-input
            type="text"
            prefix-icon="el-icon-message"
            auto-complete="off"
            :disabled="dialogStatus === 'updateGrupo'"
            v-model="tmpUsuario.email"
          />
        </el-form-item>
        <el-form-item label="senha" prop="password" required
        v-if="dialogStatus !== 'updateGrupo'">
          <el-input
            type="password"
            prefix-icon="el-icon-edit"
            auto-complete="off"
            v-model="tmpUsuario.password"
            v-if="dialogStatus !== 'updateGrupo'"
          />
        </el-form-item>
        <el-form-item label="Grupo"
          v-if="dialogStatus === 'updateGrupo'">
          <el-select placeholder="por favor escolha" v-model="tmpUsuario.idGrupo">
            <el-option v-for="item in grupoList" :key="item.idGrupo" :label="item.nome" :value="item.idGrupo" />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click.native.prevent="dialogFormVisible = false">Cancelar</el-button>
        <el-button
          type="danger"
          v-if="dialogStatus === 'add'"
          @click.native.prevent="$refs['tmpUsuario'].resetFields()"
        >Redefinir</el-button>
        <el-button
          type="success"
          v-if="dialogStatus === 'add'"
          :loading="btnLoading"
          @click.native.prevent="addUsuario"
        >adicionar à</el-button>
        <el-button
          type="primary"
          v-if="dialogStatus === 'update'"
          :loading="btnLoading"
          @click.native.prevent="updateUsuario"
        >Salvar</el-button>
        <el-button
          type="primary"
          v-if="dialogStatus === 'updateGrupo'"
          :loading="btnLoading"
          @click.native.prevent="updateUsuarioGrupo"
        >Salvar</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { list as getUsuarioList, search, register, remove, update as updateUsuario } from '@/api/usuario'
import { list as getGrupoList, updateUsuarioGrupo } from '@/api/grupo'
import { isValidateEmail } from '@/utils/validate'
import { unix2CurrentTime } from '@/utils'
import { mapGetters } from 'vuex'

export default {
  created() {
    if (this.possuiPermissao('grupo:update')) {
      this.getGrupoList()
    }
    if (this.possuiPermissao('usuario:list')) {
      this.getUsuarioList()
    }
  },
  data() {
    const validateEmail = (rule, value, callback) => {
      if (!isValidateEmail(value)) {
        callback(new Error('Erro de formato de e-mail'))
      } else {
        callback()
      }
    }
    const validateUsername = (rule, value, callback) => {
      if (value.length < 3) {
        callback(new Error('O comprimento do Nome de Usuario deve ser ≥ 3'))
      } else {
        callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('O comprimento da senha deve ser ≥ 6'))
      } else {
        callback()
      }
    }
    return {
      usuarioList: [], // Lista de usuários
      grupoList: [], // Todos os papéis
      filterGrupoNomeList: [], // Lista para filtrar funções de tabela http://element-cn.eleme.io/#/zh-CN/component/table#shai-xuan
      listLoading: false, // Carregamento de dados aguardando animação
      total: 0, // Dados totais
      listQuery: {
        page: 1, // número de página
        size: 9 // Quantidade por página
      },
      dialogStatus: 'add',
      dialogFormVisible: false,
      textMap: {
        updateGrupo: 'Grupo',
        update: 'Alterar',
        add: 'Adicionar'
      },
      btnLoading: false, // animação de espera de botão
      tmpUsuario: {
        idUsuario: '',
        email: '',
        username: '',
        password: '',
        idGrupo: 2 // Correspondente ao ID da função de usuário comum do banco de dados de back-end
      },
      search: {
        page: null,
        size: null,
        usuarioNome: null,
        grupoNome: null
      },
      createRules: {
        email: [{ required: true, trigger: 'blur', validator: validateEmail }],
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        password: [
          { required: true, trigger: 'blur', validator: validatePassword }
        ]
      }
    }
  },
  computed: {
    ...mapGetters(['idUsuario'])
  },
  methods: {
    unix2CurrentTime,
    /**
     * pegue todos os personagens
     */
    getGrupoList() {
      getGrupoList().then(response => {
        this.grupoList = response.data.list
      }).catch(res => {
        this.$message.error('Falha ao carregar o caractere')
      })
    },
    /**
     * obter lista de usuários
     */
    getUsuarioList() {
      this.listLoading = true
      getUsuarioList(this.listQuery).then(response => {
        this.usuarioList = response.data.list
        this.total = response.data.total
        for (let i = 0; i < this.usuarioList.length; i++) {
          const filterObject = {}
          filterObject.text = this.usuarioList[i].grupoNome
          filterObject.value = this.usuarioList[i].grupoNome
          this.filterGrupoNomeList.push(filterObject)
        }
        this.listLoading = false
      }).catch(res => {
        this.$message.error('Falha ao carregar a lista de contas')
      })
    },
    searchBy() {
      this.btnLoading = true
      this.listLoading = true
      this.search.page = this.listQuery.page
      this.search.size = this.listQuery.size
      search(this.search).then(response => {
        this.usuarioList = response.data.list
        this.total = response.data.total
        this.listLoading = false
        this.btnLoading = false
      }).catch(res => {
        this.$message.error('Falha na pesquisa')
      })
    },
    /**
     * alterar o número de páginas
     * @param size tamanho da página
     */
    handleSizeChange(size) {
      this.listQuery.size = size
      this.listQuery.page = 1
      this.getUsuarioList()
    },
    /**
     * alterar o número da página
     * @param page número de página
     */
    handleCurrentChange(page) {
      this.listQuery.page = page
      this.getUsuarioList()
    },
    /**
     * Número de série do formulário
     * Você pode consultar o número de série do formulário personalizado
     * http://element-cn.eleme.io/#/zh-CN/component/table#zi-ding-yi-suo-yin
     * @param index subscrito de dados
     * @returns Número de série do formulário
     */
    getIndex(index) {
      return (this.listQuery.page - 1) * this.listQuery.size + index + 1
    },
    /**
     * Mostrar caixa de diálogo Adicionar usuário
     */
    showAddUsuarioDialog() {
      // Mostrar a caixa de diálogo adicionar
      this.dialogFormVisible = true
      this.dialogStatus = 'add'
      this.tmpUsuario.email = ''
      this.tmpUsuario.username = ''
      this.tmpUsuario.password = ''
    },
    /**
     * Adicionar usuário
     */
    addUsuario() {
      this.$refs.tmpUsuario.validate(valid => {
        if (valid && this.isUniqueDetail(this.tmpUsuario)) {
          this.btnLoading = true
          register(this.tmpUsuario).then(() => {
            this.$message.success('Adicionado com sucesso')
            this.getUsuarioList()
            this.dialogFormVisible = false
            this.btnLoading = false
          }).catch(res => {
            this.$message.error('Falha ao adicionar conta')
            this.btnLoading = false
          })
        }
      })
    },
    /**
     * Exibir a caixa de diálogo Modificar usuário
     * @param index subscrito do usuário
     */
    showUpdateUsuarioDialog(index) {
      this.dialogFormVisible = true
      this.dialogStatus = 'update'
      this.tmpUsuario.idUsuario = this.usuarioList[index].idUsuario
      this.tmpUsuario.email = this.usuarioList[index].email
      this.tmpUsuario.username = this.usuarioList[index].username
      this.tmpUsuario.password = ''
      this.tmpUsuario.idGrupo = this.usuarioList[index].idGrupo
    },
    /**
     * atualizar usuário
     */
    updateUsuario() {
      updateUsuario(this.tmpUsuario).then(() => {
        this.$message.success('atualização completa')
        this.getUsuarioList()
        this.dialogFormVisible = false
      }).catch(res => {
        this.$message.error('atualização falhou')
      })
    },
    /**
     * Exibir a caixa de diálogo Modificar funções do usuário
     * @param index subscrito do usuário
     */
    showUpdateUsuarioGrupoDialog(index) {
      this.dialogFormVisible = true
      this.dialogStatus = 'updateGrupo'
      this.tmpUsuario.idUsuario = this.usuarioList[index].idUsuario
      this.tmpUsuario.email = this.usuarioList[index].email
      this.tmpUsuario.username = this.usuarioList[index].username
      this.tmpUsuario.password = ''
      this.tmpUsuario.idGrupo = this.usuarioList[index].idGrupo
    },
    /**
     * Atualizar funções de usuário
     */
    updateUsuarioGrupo() {
      updateUsuarioGrupo(this.tmpUsuario).then(() => {
        this.$message.success('atualização completa')
        this.getUsuarioList()
        this.dialogFormVisible = false
      }).catch(res => {
        this.$message.error('atualização falhou')
      })
    },
    /**
     * O perfil do usuário é único?
     * @param usuario do utilizador
     */
    isUniqueDetail(usuario) {
      for (let i = 0; i < this.usuarioList.length; i++) {
        if (this.usuarioList[i].username === usuario.username) {
          this.$message.error('O Nome de Usuario já existe')
          return false
        }
        if (this.usuarioList[i].email === usuario.email) {
          this.$message.error('e-mail já existe')
          return false
        }
      }
      return true
    },
    /**
     * excluir usuários
     * @param index subscrito do usuário
     */
    removeUsuario(index) {
      this.$confirm('excluir esta conta?', 'avisar', {
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não',
        type: 'warning'
      }).then(() => {
        const id = this.usuarioList[index].idUsuario
        remove(id).then(() => {
          this.$message.success('Excluído com sucesso')
          this.getUsuarioList()
        })
      }).catch(() => {
        this.$message.info('Recuperado')
      })
    }
  }
}
</script>
