<template>
  <!-- http://element-cn.eleme.io/#/zh-CN/component/menu -->
  <el-menu mode="vertical" :default-active="$route.path">
    <sidebar-item :routes="permissaoRouters" />
  </el-menu>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './SidebarItem'

export default {
  components: { SidebarItem },
  computed: {
    ...mapGetters(['permissaoRouters'])
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.el-menu {
  min-height: 100%;
}
</style>
